# 1 Sesi 2

- Conditional
- Flow
- Looping

## 1.1 Introduction to if statement

In [13]:
x= 0;
y=5;

In [15]:
if x < y:
    print("yes")

yes

In [ ]:
# Yang Salah
if x > y:
    print("yes")

In [ ]:
# Semua nilai yang 0 dianggap False; selain 0 dianggap True
if x:
    print("yes")
    print("Laras")

## 1.2 Else and elif Statement

## 1.5 While Loop

In [32]:
n = 1

while n<4:
    print(n)
    n += 1

1
2
3

## 1.6 Break and Continue

In [34]:
n = 5

while n>0:
    n -= 1
    
    if n == 2:
        break
        
    print(n)

4
3

In [35]:
n = 5

while n>0:
    n -= 1
    
    if n == 2:
        continue
        
    print(n)

4
3
1
0

In [36]:
n = 1

while n<4:
    print(n)
    n += 1
print("Loop end")

1
2
3
Loop end

In [39]:
n = 1

while n<4:
    print(n)
    n += 1
    
    if n == 2:
        break 
else:
    print("Loop end")

1

In [43]:
n = 1

while n<4:
    print(n)
    n += 1
    
    if n == 3:
        continue
    
else:
    print("Loop end")

1
2
3
Loop end

In [47]:
n =5 

while n>=0: print(n); n -= 1

5
4
3
2
1
0

## 1.7 For Loop

In [54]:
for month in ["Jan", "Feb", "Mar"]:
    for letter in month:
        print(letter)

J
a
n
F
e
b
M
a
r

### 1.7.1 For with dictionary

In [55]:
months = {
    "Jan": 31,
    "Feb": 28,
    "Apr" : 30,
}

In [56]:
months

{'Jan': 31, 'Feb': 28, 'Apr': 30}

In [57]:
# Results in key
for i in months:
    print(i)

Jan
Feb
Apr

In [59]:
# Results in values
for i in months.values():
    print(i)

31
28
30

In [61]:
# Results in values
for i in months:
    print(months[i])

31
28
30

## 1.8 Range Function

In [62]:
range(4)

range(0, 4)

In [63]:
X  = range(5)

In [64]:
for i in X:
    print(i)

0
1
2
3
4

In [65]:
for i in X:
    print(i)
    if i == 3:
        break

else: 
    print("Done")

0
1
2
3

In [66]:
# range (a,b,c) = start, stop-1, step
for i in range(4,10,2):
    print(i)

4
6
8

## 1.8 Example

In [69]:
x = input("Enter a number")

print(x)

for i in range(int(x)):
    print(i)

Enter a number5
5
0
1
2
3
4

In [70]:
x = "36T"

In [71]:
x[:-1]# Semua nya masuk kecuali yang terakhir

'36'

In [72]:
while True:
    x = input("Type STOP").lower()
    if x == "stop":
        break

Type STOPashah
Type STOPshahs
Type STOPsas
Type STOPstop